/* Responsive for small device */
@media screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }

    .section-gap {
        margin: 60px auto;
    }

    .desktop-nav {
        display: none;
    }

    /* Banner */
    .header {
        background-image: none;
    }

    .content {
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .banner img {
        position: static;
    }

    /* About */
    .about {
        padding: 20px;
    }

    .about-content {
        gap: 10px;
    }

    .infos {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    /* What i do */
    .cards {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding-top: 0;
    }

    /* Columns */
    .columns {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .column {
        text-align: center;
    }

    .resume-content {
        text-align: center;
    }

    /* Footer */
    .footer {
        padding: 30px;
    }

    .footer-colmns {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .section-gap {
        margin: 60px auto;
    }

    .mobile-nav {
        display: none;
    }

    /* Banner */
    .header {
        background-image: none;
    }

    .content {
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .banner img {
        position: static;
    }

    /* About */
    .about {
        padding: 30px;
    }

    /* What i do */
    .cards {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0;
    }

    /* Footer */
    .footer {
        padding: 60px;
    }

    .footer-colmns {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Responsive for large devices */
@media screen and (min-width: 992px) and (max-width: 1440px) {
    .mobile-nav {
        display: none;
    }

    /* Banner */
    .header {
        background-position:
            calc((100% - 1280px) / 2 - 28px) center,
            calc(100% - ((100% - 1280px)/2) - 100px) bottom;
        ;
    }

    .banner img {
        right: 20px;
    }

    .banner h2 {
        font-size: 4.3125rem;
    }

     /* Footer */
    .footer {
        padding: 60px;
    }

}

/* Responsive for extra large */
@media screen and (min-width: 1140px) {
    .mobile-nav {
        display: none;
    }
}