/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Global Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
}

img {
    width: 100%;
}

/* button */
.btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
}

/* section title */
.section-title {
    font-weight: 700;
    font-size: 2.1875rem;
    color: #181818;
}

/* section text */
.section-text {
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: #757575;
    margin: 30px 0;
}

.section-gap {
    margin: 130px auto;
}

/* Normal Text */
.text {
    font-size: 1rem;
    line-height: 1.75rem;
    color: #757575;
}

/* Color */
.color-primary {
    color: #181818;
}

.color-secondary {
    color: #757575;
}

.brand-color {
    color: #FD6E0A;
}

/* link */
a {
    text-decoration: none;
}

/* Hidden */
.hidden {
    display: none;
}

/* Flex */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

/********************************** Global Style End ********************************************/

/* Navbar style */
nav {
    padding: 2rem 12px !important;
}

.logo {
    font-weight: 800;
    font-size: 2.8125rem;
}

nav li {
    list-style-type: none;

}

nav li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #474747;
}

.burger {
    width: 48px;
    height: 48px;
    background-color: #FD6E0A;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

/* Banner style */

.header {
    background-color: #FFF8F3;
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat, no-repeat;
    background-position:
        calc((100% - 1280px) / 2 - 100px) center,
        calc(100% - ((100% - 1280px)/2) - 100px) bottom;
}

.banner img {
    position: relative;
    top: 5px;
    right: -190px;
}

.banner h3 {
    font-size: 2.8125rem;
    font-weight: 600;
    color: #474747;
}

.banner h2 {
    font-weight: 700;
    font-size: 5.3125rem;
    color: #181818;
}

.banner p {
    max-width: 585px;
}

.btn2 {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 20px;
}

/* About me */
.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 100px;
}

.about-content {
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 4px;
}

.infos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
}

.info p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
}

/* What i do section */
.top-content{
    text-align: center;
}
.top-content p{
    max-width: 900px;
    margin: 50px auto;

}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-top: 50px;
}
.card{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.card img{
    width: 45px;
    height: 45px;
}
.card h4{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.25rem;
}
.card p{
    font-size: 0.875rem;
}

/* Resume section */
.resume{
    text-align: center;
    padding: 0 20px;
}
.columns{
    text-align: left;
    margin-top: 100px;
    margin-bottom: 50px;
}
.resume-content{
    text-align: left;
    margin-top: 30px;
}
.resume-content h3{
    font-weight: 700;
    font-size: 1.5265rem;
    margin-top: 10px;
}
.resume-content h4{
    font-weight: 600;
    font-size: 1.25rem;
    color: #757575;
}
.resume-content p{
    font-size: 14px;
}
.sp-content{
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
}
